body{
    background-color: rgb(248, 248, 248);
    margin: 0px;
    padding: 1rem;
    width: 97vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    width: 4rem;
    height: 2rem;
    border-radius: 0.6rem;
    border: solid rgb(121, 0, 0) ;
    margin: 0.5rem;
    padding: 1rem;
   
    width:auto;
    height:Auto;
    background-color: rgb(185, 1, 1);
    color:white;
}
.responsBox{
    width: 80%;
    height: 2rem;
    background-color:#f0f0f0;
}
.container{
    width: auto;
    padding: 20px;
    border-radius: 12px;
    border:solid gray;
    box-shadow: 0 4 12 rgba(0,0,0,0.15);
    background-color:#efefef;
    transition: all 0.3 ease;
    font-family:'arial';
    min-height:50px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.box{
    width: 90%;
    height: 40%;
    padding: 2rem;
    border-radius: 12px;
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    .label{
        display: flex;
        justify-content: center;
        width: 8rem;
        height: 1rem;
    }
    .textfield{
        width: 10rem;
        height: 1rem;
    }
    .checkbox{
        width: 10rem;
        height: 1rem;
        color:black;
        
    }
}
