body{
    background-color:#EFEDF1;
    margin:0;
    width: 97vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight:900;
   
}
h1{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
    width: 4rem;
    height: 2rem;
    border-radius: 0.6rem;
    border: solid rgb(121, 0, 0) ;
    margin: 0.5rem;
    padding: 1rem;
   
    width:auto;
    height:Auto;
    background-color: rgb(185, 1, 1);
    color:white;
}
.responsBox{
    width: 10rem;;
    height: 1.5rem;
    background-color:#ffffff;
    border-radius: 0.5rem;
    border: solid black;
    padding:1rem;
    

}
.container{
    width: auto;
    max-width:400px;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid gray;
    box-shadow: 0 4 12 rgba(0,0,0,0.15);
    background-color:#ffff;
    transition: all 0.3 ease;
    font-family:'arial';
    border-radius: 1rem;
    
    
}
.box{
    width: 90%;
    gap:2rem;
    padding:1rem;
    border-radius: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   .checkbox{
        width: 10rem;
        height: 1rem;
        color:rgb(167, 5, 5);
        
    }
    

}

.box label{
   font-weight:600;
   color:#333;

}
.card-background{
   
    background-color: #EFEDF1;
    
}