body{
    background-color: midnightblue;
    margin: 0px;
    padding: 1rem;
    width: 97vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    width: 4rem;
    height: 2rem;
    border-radius: 0.6rem;
    background-color: gray;
}
.responsBox{
    width: 80%;
    height: 2rem;
    background-color: lightgray;
}
.contaner{
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
.box{
    width: 90%;
    height: 40%;
    background-color: dimgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .label{
        display: flex;
        justify-content: center;
        width: 8rem;
        height: 1rem;
    }
    .textfield{
        width: 10rem;
        height: 1rem;
    }
    .checkbox{
        width: 10rem;
        height: 1rem;
    }
}
